body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    height: 100vh; /* Высота равна высоте окна браузера */
}

.container {
    width: 100%; /* Делаем контейнер адаптивным */
    max-width: 400px; /* Ограничиваем максимальную ширину */
    margin: 0 auto; /* Центрируем по горизонтали */
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Учитываем padding в размерах */
}

input, button, textarea, select {
    width: 100%; /* Занимают всю ширину контейнера */
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box; /* Учитываем padding */
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Добавляем скругленные углы */
}

button:hover {
    background-color: #0056b3;
}

.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    max-width: 300px;
}

.notification {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
}

.notification.success {
    background-color: #4CAF50;
}

.notification.error {
    background-color: #F44336;
}

.notification.info {
    background-color: #2196F3;
}

.notification.fade-out {
    opacity: 0;
}

#payments-container {
    max-height: 300px; /* Ограничиваем высоту контейнера */
    overflow-y: auto;  /* Добавляем вертикальную прокрутку */
    border: 1px solid #ddd; /* Граница для наглядности */
    padding: 10px; /* Добавляем отступы */
    margin-top: 10px; /* Отступ сверху */
    border-radius: 4px; /* Скругляем углы */
    max-height: 5vh; /* Ограничиваем высоту контейнера видимой области */
}

#profile-details {
    display: inline-block; /* Устанавливаем inline-блок */
    width: 200px; /* Ширина под номер телефона */
    height: 30px; /* Высота для одной строки */
    overflow: hidden; /* Убираем лишний текст */
    white-space: nowrap; /* Запрещаем перенос строки */
    text-overflow: ellipsis; /* Добавляем троеточие для переполненного текста */
    padding: 5px; /* Внутренний отступ */
    border: 1px solid #ccc; /* Добавляем границу */
    border-radius: 4px; /* Скругляем углы */
}
